
    <div id="container"style="margin: 0px auto; width:900px"><canvas id="canvas" width="1000px" height="950px" style="border: 1px solid rgb(206, 108, 108); margin:0px auto;"> </canvas> </div>
    <script src="/js/clock.js" type="text/javascript"></script>